[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"
textual = "<=0.60.1"
humanize = "*"
xdg-base-dirs = "*"

[dev-packages]
pre-commit = "*"
black = "*"
mypy = "*"
build = "*"
twine = "*"
pylint = "*"
isort = "*"

[requires]
python_version = "3.12"
