[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"
textual = "*"
humanize = "*"
xdg-base-dirs = "*"

[dev-packages]
pre-commit = "*"
black = "*"
mypy = "*"
build = "*"
twine = "*"
pylint = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.13"
